<div class="columns">
{% for album in site.data.photos %}
  {% assign break = forloop.index | modulo:2 %}
  {% if break == 1 %}
  <div class="column is-half">
  {% endif %}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title is-centered">{{ album.title}}</p>
      </header>
      <div class="card-image">
        <figure class="image is-16by9">
          <iframe class="has-ratio" src="{{ album.url }}/player/" width="640" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </figure>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span class="is-size-7">View on <a href="{{ album.url }}">Flickr</a></span>
        </p>
      </footer>
    </div>
    <br/>
  {% if break == 0 %}
  </div>
  {% endif %}
{% endfor %}
</div>

