<div class="columns">
{% for album in site.data.photos %}
  <div class="column is-half">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title is-centered">{{ album.title}}</p>
      </header>
      <div class="card-image">
        <figure class="image is-16by9">
          <a data-flickr-embed="true" data-header="true" href="{{ album.url }}" title="{{ album.title }}"><img class="has-ratio" src="{{ album.image }}" width="640" height="480" alt="{{ album.title }}"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </figure>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span class="is-size-7">View on <a href="{{ album.url }}">Flickr</a></span>
        </p>
      </footer>
    </div>
  </div>
{% endfor %}
</div>

