<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">All content, <a href="/about/#legal">except otherwise specified</a>, is distributed under a <a href="https://creativecommons.org/licenses/by/4.0/" taget="_blank">CC BY 4.0 International Public License</a></p>
            <p class="">Theme forked from <a href="https://github.com/chrisrhymes/bulma-clean-theme">chrisrhymes/bulma-clean-theme</a></p>
        </div>
    </div>
</footer>
