---
layout: default
---

<div class="content">

  <div class="block has-text-right">
    {{ page.title }}
    {{ page.summary | markdownify }}
    Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}
  </div>

    {% if page.image %}
      <img class="" src="{{ page.image }}" alt="{{ page.title }}">
    {% endif %}
 
    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
    <span class="tag is-primary">{{ tag }}</span>
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
